---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";

#export {
    position:absolute;
    top:400px;
    right:380px;
    z-index:650;
    background:white;
    color:black;
    padding:6px;
    border-radius:4px;
    font-family:Helvetica Neue;
    cursor: pointer;
    font-size:12px;
    text-decoration:none;
}
