<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <body>

    {% include header.html %}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
      <div class="wrapper">Templates sent to the directory <b>_layouts</b></div>
    </main>

    {% include footer.html %}

  </body>

</html>
