<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.liquid %}

  <body>

    {% include header.liquid %}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
      <div class="wrapper">The maps use an example <a href="../examples/sample-geojson-test.js">geojson.js</a></div>
    </main>

    {% include footer.liquid %}

  </body>

</html>
